.button {
  display: inline-block;
  border-radius: 8px;
  background-color: #d32f2f;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size:18px;
  padding: 10px;
  max-width: 300px;
  transition: all 0.8s;
  cursor: pointer;
  margin: 2px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}