

.parallax2 {
    /* The image used */
    background-image: url("../img/p2.jpg");

    /* Set a specific height*/ 
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

