*{
    
    margin: 0;
    padding: 0;
    border-spacing: 0;
    
}
body{
    margin: 0;
    background: #cec5b0;
    font-family: "Work Sans",sans-serif;
    font-weight: 300;
    
    
}
.grid{
    
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "left-div right-div";
}
.right-div{
    
    grid-area: "right-div";
    
}
.left-div{
    grid-area:"left-div";
    
}